.keep-options {
  position: relative;

  display: flex;

  padding-top: 1rem;

  .color-link {
    margin-right: 1rem;

    cursor: pointer;
  }

  .action-link {
    padding-right: .5rem;
    padding-left: .5rem;

    cursor: pointer;
  }

  .action-list {
    position: relative;
  }

  .list {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: -1.5rem;

    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    list-style-type: none;

    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.5);

    .item {
      width: 12rem;
      padding: .5rem;

      list-style: none;

      cursor: pointer;
      word-break: nowrap;

      border-radius: inherit;

      &:hover {
        background-color: #eee;
      }
    }
  }
}
