.main-header {
  display: flex;
  padding-top: 100px;
  justify-content: center; }

main {
  display: flex;
  margin-top: 100px;
  justify-content: center;
  flex-wrap: wrap; }

.keep {
  font-family: 'Quicksand', sans-serif;
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  margin: 2rem 4rem; }
  .keep .text-field,
  .keep .keep-name {
    font-size: 2rem;
    line-height: 2.5rem;
    font-family: inherit;
    width: 100%;
    padding: .5rem;
    margin-top: 1.5rem;
    border: none;
    border-radius: .5rem;
    outline: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5); }
  .keep .keep-name {
    box-shadow: none; }
  .keep .tags {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: .5rem; }
  .keep .tag {
    padding: 0 .2rem;
    background-color: #eee;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border-radius: .2rem;
    margin-left: .5rem; }
  .keep .edit-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: .8rem;
    color: silver;
    cursor: pointer; }
    .keep .edit-btn:hover {
      color: black; }

.keep-options {
  position: relative;
  display: flex;
  padding-top: 1rem; }
  .keep-options .color-link {
    margin-right: 1rem;
    cursor: pointer; }
  .keep-options .action-link {
    padding-right: .5rem;
    padding-left: .5rem;
    cursor: pointer; }
  .keep-options .action-list {
    position: relative; }
  .keep-options .list {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: -1.5rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5); }
    .keep-options .list .item {
      width: 12rem;
      padding: .5rem;
      list-style: none;
      cursor: pointer;
      word-break: nowrap;
      border-radius: inherit; }
      .keep-options .list .item:hover {
        background-color: #eee; }

.color-block {
  position: relative; }
  .color-block .pallet-block {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    left: -2rem;
    display: flex;
    width: 7rem;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    flex-wrap: wrap; }
  .color-block .pallet-btn {
    width: 1.5rem;
    height: 1.5rem;
    margin: .2rem;
    cursor: pointer;
    transition: .3s box-shadow;
    border: none;
    border-radius: 50%;
    outline: none;
    background: white;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 0; }
    .color-block .pallet-btn :hover {
      box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.5); }

.tag-block {
  position: relative; }
  .tag-block .tag-form {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 12rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5); }
    .tag-block .tag-form input[type="text"] {
      width: 100%;
      padding: .2rem;
      border: none;
      border-radius: .2rem;
      outline: none;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5); }
    .tag-block .tag-form .tag-list {
      padding: 0; }
    .tag-block .tag-form .tag-item {
      list-style: none; }
      .tag-block .tag-form .tag-item input[type="checkbox"] {
        border: none;
        outline: none; }

.category-block {
  position: relative; }
  .category-block .category-form {
    position: absolute;
    z-index: 2;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 12rem;
    padding: .5rem;
    border-radius: .5rem;
    background-color: white;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5); }
    .category-block .category-form input[type="text"] {
      width: 100%;
      padding: .2rem;
      border: none;
      border-radius: .2rem;
      outline: none;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5); }
    .category-block .category-form .category-list {
      padding: 0; }
    .category-block .category-form .category-item {
      list-style: none; }
      .category-block .category-form .category-item input[type="checkbox"] {
        border: none;
        outline: none; }
    .category-block .category-form .category-title {
      cursor: pointer; }
      .category-block .category-form .category-title .children-length {
        font-size: .8rem;
        color: #555; }
